# -*- coding: utf-8 -*-
import scrapy


class {{ spider.name|capitalize }}Spider(scrapy.Spider):
    name = '{{spider.name}}'
    allowed_domains = ['$domain']
    start_urls = ['http://$domain/']

    def parse(self, response):
        pass
